<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.arun.arunrxjavaexploring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- To get the device location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".RxJavaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RxBasicActivity" />
        <activity android:name=".RoomDB.RoomDbMainActivity" />
        <activity android:name=".CustomOperators.CustomOperaterActivity" />
        <activity android:name=".NetWork.RxNetworkActivity" />
        <activity android:name=".pagination.PaginationActivity" />
        <activity android:name=".rxBus.RXBusChaeckActivity" />
        <activity android:name=".synchronize.SynchronizedActivity" />
        <activity android:name=".WithRxJava.RxHomeActivity" />
        <activity android:name=".WoRxJava.NormalHomeActivity" />
        <activity android:name=".downloadRx.RXJavaDownloadActivity" />
        <!-- <activity android:name=".asyncVsRxJAva.AsyncRxActivity"></activity> -->
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NetWork.SampleRequestActivity" />
        <activity android:name=".RxOperaters.OperatorsActivity" />
        <activity android:name=".RxOperaters.FromOperatorActivity" />
        <activity android:name=".RxOperaters.GroupBy" />
        <activity android:name=".RxOperaters.ScanActivity" />
        <activity android:name=".RxOperaters.DistinctActivity" />
        <activity android:name=".RxOperaters.ObservableOperaterActivity" />
        <activity android:name=".RxOperaters.TransFormingOperater" />
        <activity android:name=".RxOperaters.FilteringActivity" />
        <activity android:name=".RxOperaters.CombinOperaterActivtiy" />
        <activity android:name=".RxOperaters.UtilityOperater" />
        <activity android:name=".RxOperaters.ConditionBololeanOperater" />
        <activity android:name=".Observables.ObservableActivity" />
        <activity android:name=".RxOperaters.SubjectOperatorActivity"></activity>
    </application>

</manifest>